html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 100%/1.5 sans-serif;
    margin: 2.5em 11.1111% 5em 0;
    background: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
}
li {
    margin: 0;
    padding: .5em 11.1111% 0;
    //border-bottom: 1px solid blue;
}
li:after {
    content: '';
    border-bottom: 1px solid hsla(0,0%,70%,1);
    height: 0;
    margin: .5em 0 0 -12.1111%;
    padding: 0 22.2222%;
    position: relative;
    left: 0;
    width: 200%;
    height: 1px;
    display: block;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

[contenteditable] {
    font-family: monospace;
    font-size: 1.231em;
}
[contenteditable] li:after {
    border-bottom: 1px solid red;
}

del {
    color: #666;
    display: block;
}

#menu {
    position: fixed;
    background: hsla(0,0%,97%,1);
    border-bottom: 1px solid hsla(0,0%,70%,1);
    top: 0;
    height: 2.5em;
    overflow: visible;
    left: 0;
    right: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
}
#menu button {
    -webkit-flex: 1;
    flex: 1;
    color: hsla(211,100%,50%,1);
    font: inherit;
    //border: 1px solid grey;
    border-width: 0 0 0;
}
#menu button:first-of-type {
    border-width: 0;
}
#defaultLists,
#prefills {
    display: none;
}
#defaultLists.active {
    display: block;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 2.5em;
    width: 100%;
    background: #ebebeb;
}
